.checkout-item-container {
  display: flex;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  // max-height: 200px;

  img {
    object-fit: cover;
    width: 200px;
    height: 230px;
    // display: block;
  }

  .quantity {
    display: flex;

    .arrow {
      cursor: pointer;
    }

    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 12px;
    cursor: pointer;
  }
}

@media screen and (max-width: 800px) {
  .checkout-item-container {
    font-size: 16px;
    img {
      width: 100px;
      height: 120px;
    }
  }
}
