.authentication-container {
  display: flex;
  max-width: 900px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 32px;
  margin-bottom: 32px;
}

@media screen and (max-width: 800px) {
  .authentication-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
  }
}
